body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #211f1f;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#lampImage {
    width: 200px;
    cursor: pointer;
    border: 5px solid #555;
    border-radius: 10px;
}

#statusText {
    font-size: 1.2em;
    margin-top: 10px;
}
